/* Light Theme Variables */
:root {
    --background-color: #F0F7F4;
    --text-color: #32292F;
    --border-color: #ccc;
    --button-bg-color: #70ABAF;
    --button-text-color: #fff;
    --button-hover-bg-color: #99E1D9;
    --description-color: #aaa;

    /* Predefined Color Schemes */
    --scheme-1-background-color: #F0F7F4;
    --scheme-1-text-color: #32292F;
    --scheme-1-border-color: #ccc;
    --scheme-1-button-bg-color: #70ABAF;
    --scheme-1-button-text-color: #fff;
    --scheme-1-button-hover-bg-color: #99E1D9;
    --scheme-1-description-color: #aaa;

    --scheme-2-background-color: #FFF8E1;
    --scheme-2-text-color: #3E2723;
    --scheme-2-border-color: #FFAB91;
    --scheme-2-button-bg-color: #FF7043;
    --scheme-2-button-text-color: #fff;
    --scheme-2-button-hover-bg-color: #FF8A65;
    --scheme-2-description-color: #8D6E63;

    --scheme-3-background-color: #E8F5E9;
    --scheme-3-text-color: #1B5E20;
    --scheme-3-border-color: #C8E6C9;
    --scheme-3-button-bg-color: #4CAF50;
    --scheme-3-button-text-color: #fff;
    --scheme-3-button-hover-bg-color: #66BB6A;
    --scheme-3-description-color: #388E3C;

    --scheme-4-background-color: #E3F2FD;
    --scheme-4-text-color: #0D47A1;
    --scheme-4-border-color: #BBDEFB;
    --scheme-4-button-bg-color: #2196F3;
    --scheme-4-button-text-color: #fff;
    --scheme-4-button-hover-bg-color: #64B5F6;
    --scheme-4-description-color: #1976D2;

    /* Add more schemes as needed */

    /* Predefined Font Styles */
    --font-family-1: 'Varela Round', serif;
    --font-family-2: 'Roboto Slab', serif;
    --font-family-3: 'Arial', sans-serif;
    --font-family-4: 'Courier New', monospace;
    --font-family-5: 'Lobster', cursive;
    --font-family-6: 'Pacifico', cursive;
    --font-family-7: 'Montserrat', sans-serif;
    --font-family-8: 'Open Sans', sans-serif;
    /* Add more fonts as needed */
}

/* Dark Theme Variables */
body.dark-mode {
    --background-color: #333;
    --text-color: #fff;
    --border-color: #555;
    --button-bg-color: #99E1D9;
    --button-text-color: #fff;
    --button-hover-bg-color: #70ABAF;
    --description-color: #aaa;

    --dark-mode-scheme-1-background-color: #2E2E2E;
    --dark-mode-scheme-1-text-color: #E0E0E0;
    --dark-mode-scheme-1-border-color: #555;
    --dark-mode-scheme-1-button-bg-color: #70ABAF;
    --dark-mode-scheme-1-button-text-color: #fff;
    --dark-mode-scheme-1-button-hover-bg-color: #99E1D9;
    --dark-mode-scheme-1-description-color: #aaa;

    --dark-mode-scheme-2-background-color: #3E2723;
    --dark-mode-scheme-2-text-color: #FFF8E1;
    --dark-mode-scheme-2-border-color: #FFAB91;
    --dark-mode-scheme-2-button-bg-color: #FF7043;
    --dark-mode-scheme-2-button-text-color: #fff;
    --dark-mode-scheme-2-button-hover-bg-color: #FF8A65;
    --dark-mode-scheme-2-description-color: #8D6E63;

    --dark-mode-scheme-3-background-color: #1B5E20;
    --dark-mode-scheme-3-text-color: #E8F5E9;
    --dark-mode-scheme-3-border-color: #C8E6C9;
    --dark-mode-scheme-3-button-bg-color: #4CAF50;
    --dark-mode-scheme-3-button-text-color: #fff;
    --dark-mode-scheme-3-button-hover-bg-color: #66BB6A;
    --dark-mode-scheme-3-description-color: #388E3C;

    --dark-mode-scheme-4-background-color: #0D47A1;
    --dark-mode-scheme-4-text-color: #E3F2FD;
    --dark-mode-scheme-4-border-color: #BBDEFB;
    --dark-mode-scheme-4-button-bg-color: #2196F3;
    --dark-mode-scheme-4-button-text-color: #fff;
    --dark-mode-scheme-4-button-hover-bg-color: #64B5F6;
    --dark-mode-scheme-4-description-color: #1976D2;

    /* Add more schemes as needed */
}

body {
    margin: 20px;
    font-family: var(--font-family, var(--font-family-1)); /* Default font */
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center; /* Center the content */
    min-height: 100vh;
    padding-bottom: 100px; /* Add padding to prevent footer overlap */
    box-sizing: border-box;
}

#top-buttons {
    display: flex;
    justify-content: center;
    gap: 100px; 
    margin-bottom: 20px;
}

#top-buttons button {
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: var(--button-bg-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#top-buttons button:hover {
    color: var(--button-hover-bg-color);
    background-color: transparent;
}
#top-buttons button span.material-symbols-outlined {
    font-size: 32px; /* Increase the icon size */
}

.toggle-input-fields {
    margin: 20px auto; /* Center the button */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: var(--button-bg-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-input-fields:hover {
    color: var(--button-hover-bg-color);
    background-color: transparent;
}

.input-fields.collapsed {
    display: none;
}

.todo-container {
    padding-top: 25px;
    max-width: 600px;
    width: 100%; /* Ensure the container takes full width */
    margin: 0 auto; /* Center the container */
    font-family: inherit;
    text-align: center; /* Center the heading */
    padding-bottom: 80px; /* Add padding to prevent footer overlap */
}

.todo-container h1 {
    text-align: center; /* Ensure the heading is centered */
    font-weight: 700;
    letter-spacing: 6px;
    margin-bottom: 40px; /* Increased margin-bottom for more spacing */
}

.todo-input, .search-bar {
    width: 80%;
    padding: 14px;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    margin-bottom: 10px; /* Adjusted margin-bottom for spacing */
    box-sizing: border-box;
    font-family: inherit;
    margin: auto; /* Center the input fields */
    background-color: var(--background-color);
    color: var(--text-color);
}

.todo-input:focus, .search-bar:focus {
    outline: none;
    border-color: var(--button-bg-color);
    transition: 0.3s ease-in-out;
}

.search-bar.hidden {
    background-color: red;
}

.input-with-button {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 20px auto 35px auto; /* Increased bottom margin for more spacing */
}

.input-with-button .todo-input {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-with-button button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 15px;
    border: 1px solid var(--border-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}

.input-with-button button:hover,
.input-with-button button:focus {
    background-color: var(--button-hover-bg-color);
    color: var(--button-text-color);
    border-color: var(--button-hover-bg-color);
}

.todo-list {
    list-style-type: none;
    padding: 0;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center; /* Center the to-do elements */
}

.todo-item {
    display: flex;
    flex-direction: column; /* Change to column to allow description on a new line */
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start */
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    font-family: inherit;
    transition: transform 0.2s ease-in-out, max-height 0.3s ease;
    width: 100%; /* Ensure the to-do items take full width */
    max-width: 600px; /* Set a maximum width for the to-do items */
    transition: 0.1s;
    cursor: pointer;
    overflow: hidden;
    max-height: 60px; /* Initial height */
}

.todo-item.expanded {
    max-height: 200px; /* Expanded height */
}

.todo-item.dragging {
    opacity: 0.5;
    background-color: var(--background-color);
    border: 2px dashed var(--border-color);
}

.todo-item:hover {
    scale: 1.05;
}

.todo-item .description {
    margin-top: 5px;
    font-size: 14px;
    color: var(--description-color);
    width: 100%;
}

.todo-item .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; /* Center the header content vertically */
}

.todo-item .toggle-button {
    margin-left: 5px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: #007BFF;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-item .toggle-button span.material-symbols-outlined {
    font-size: 24px;
}

.todo-item .toggle-button:hover {
    background-color: #007BFF;
    color: white;
}

.todo-item .buttons {
    display: flex;
    gap: 5px;
}

.drag-indicator {
    cursor: grab;
    margin-left: 5px;
    background-color: transparent;
    color: var(--button-bg-color);
    border: none;
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.drag-indicator:hover {
    background-color: transparent; /* Remove hover effect */
    color: var(--button-hover-bg-color);
}

.completed {
    text-decoration: line-through;
    color: gray;
}

button {
    margin-left: 5px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: var(--button-bg-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

button span.material-symbols-outlined {
    font-size: 24px;
}

button:hover {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}

.clock {
    font-size: 2em;
    letter-spacing: 12px;
    margin-bottom: 30px;
    color: var(--text-color);
}

/* Separator */
.separator {
    border: none;
    border-top: 2px solid var(--border-color);
    margin: 5px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-top: 1px solid var(--border-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin-right: 70px;
}

.footer .material-symbols-outlined {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 0px; /* Add some space between the icon and the text */
    margin-bottom: 4px; /* Add some space between the icon and the text */
}


